*{
    padding: 0px;
    margin: 0px;
}
#vidbg{ 
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index:-1; 
}
nav{
    display: flex;
    position: fixed;
    background-color: rgb(241, 202, 151);
    justify-content: space-around;
    box-shadow: 0px 8px 16px 0px rgba(212, 190, 103, 0.2);
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(70, 60, 45);
}
.content-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
.links a{
    text-decoration: none;
    color: rgb(70, 60, 45);
    font-size: x-large;
    padding-left: 1vw;
    
}   
.links a:hover{
    background-color: rgb(204, 166, 118); 
    transition: .5s;
    padding: 1vw;
}
.banner{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 10vw;
    background-color: rgba(249, 230, 162, 0.375);
    text-shadow:5px 2px rgba(233, 205, 152, 0.598);
    padding: 5vw;
}
.banner h1{
    color: rgb(48, 41, 30);
}
.banner h3{
    color: rgb(48, 41, 30);
}
.icon{
    background: url(../media/sprite3.png);
    background-repeat: no-repeat;  
    width: 66px;
    height: 66px;
    display: inline-block;   
    position: relative;
}
#twt{background-position: -66px -72px;}
#fb{background-position: -439px -146px;}
#mail{background-position: -439px -221px;}
#insta{background-position: -365px -147px;}

footer{
    text-align: center;
    display: inline-block;
    position: fixed;
    bottom: 0vw;
    background-color: rgba(241, 202, 151);
    width: 100vw;
    margin-top: 15vw;
}

@media screen and (max-width: 900px){
    nav{ 
        position: relative;
        background-color: rgb(189, 241, 151);}
    .pagetitle{ 
        padding: 1vw;
        color: rgb(56, 70, 45);
        transition: .5s;
    }
    .links{
        display: none;
        z-index: 1;
        position: absolute;
        background-color: rgba(157, 225, 106, 0.669);
        min-width: 100vw;
        box-shadow: 0px 8px 16px 0px rgba(142, 185, 115, 0.728);
        transition: .5s;
    }
    .links a{
        color: rgb(70, 60, 45);
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: block;
        transition: .5s;
        margin-left: 0;
        padding-left: 1vh;
    }
    
    .links a:hover{
        background-color: #95bb7fe9; 
        transition: .5s;
    }
    nav:hover .links{
        display: block; 
        transition: .5s;
    }
    nav:hover .pagetitle{
        background-color: rgba(217, 254, 164, 0.669); 
        transition: .5s;
    }
    .banner{
        background-color: rgba(189, 241, 151, 0.395);
        text-shadow:5px 2px rgba(199, 233, 152, 0.598);
    }
}


